{% extends 'base.html' %    }

{% block content %}
    <h1>Login</h1>
    <form method="POST" action="{{ url_for('main_bp.login') }}">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Entrar</button>
    </form>
{% endblock %}